Resume/resume.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "resume">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "title" minOccurs = "0"/>
				<xsd:element ref = "summary" minOccurs = "0"/>
				<xsd:element ref = "personalInfo"/>
				<xsd:element ref = "education"/>
				<xsd:element ref = "workExperience"/>
				<xsd:element ref = "skills"/>
				<xsd:element ref = "certifications" minOccurs = "0"/>
				<xsd:element ref = "publications" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "title" type = "xsd:string"/>
	<xsd:element name = "personalInfo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "name"/>
				<xsd:element ref = "DOB"/>
				<xsd:element ref = "addressCommunication" minOccurs = "0"/>
				<xsd:element ref = "addressPremanent" minOccurs = "0"/>
				<xsd:element ref = "mobilePhone" minOccurs = "0"/>
				<xsd:element ref = "phone" minOccurs = "0"/>
				<xsd:element ref = "email" minOccurs = "0"/>
				<xsd:element ref = "citizenship" maxOccurs = "unbounded"/>
				<xsd:element ref = "passportno" minOccurs = "0"/>
				<xsd:element ref = "gender"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "name" type = "xsd:string"/>
	<xsd:element name = "DOB" type = "xsd:string"/>
	<xsd:element name = "addressCommunication">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base = "address">
					<xsd:sequence>
						<xsd:element ref = "AddressLine" maxOccurs = "unbounded"/>
						<xsd:element ref = "City"/>
						<xsd:element ref = "State"/>
						<xsd:element ref = "Country"/>
						<xsd:element ref = "zip"/>
					</xsd:sequence>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "addressPremanent">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base = "address">
					<xsd:sequence>
						<xsd:element ref = "AddressLine" maxOccurs = "unbounded"/>
						<xsd:element ref = "City"/>
						<xsd:element ref = "State"/>
						<xsd:element ref = "Country"/>
						<xsd:element ref = "zip"/>
					</xsd:sequence>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "mobilePhone" type = "xsd:string"/>
	<xsd:element name = "phone" type = "xsd:string"/>
	<xsd:element name = "email" type = "xsd:string"/>
	<xsd:complexType name = "address">
		<xsd:sequence minOccurs = "0">
			<xsd:element ref = "AddressLine" maxOccurs = "unbounded"/>
			<xsd:element ref = "City"/>
			<xsd:element ref = "State" minOccurs = "0"/>
			<xsd:element ref = "Country"/>
			<xsd:element ref = "zip" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name = "AddressLine" type = "xsd:string"/>
	<xsd:element name = "City" type = "xsd:string"/>
	<xsd:element name = "State" type = "xsd:string"/>
	<xsd:element name = "Country" type = "xsd:string"/>
	<xsd:element name = "zip" type = "xsd:string"/>
	<xsd:element name = "summary">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "info" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "info" type = "xsd:string"/>
	<xsd:element name = "education">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "course" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "course">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "name"/>
				<xsd:element ref = "startDate"/>
				<xsd:element ref = "endDate"/>
				<xsd:element ref = "grade"/>
				<xsd:element ref = "institution"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "institution">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "name"/>
				<xsd:element ref = "addressPremanent"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "startDate" type = "xsd:string"/>
	<xsd:element name = "endDate" type = "xsd:string"/>
	<xsd:element name = "grade" type = "xsd:string"/>
	<xsd:element name = "experience">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "designation"/>
				<xsd:element ref = "company"/>
				<xsd:element ref = "startDate"/>
				<xsd:element ref = "endDate"/>
				<xsd:element ref = "project" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "extraInfo" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "company">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "name"/>
				<xsd:element ref = "addressPremanent"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "designation" type = "xsd:string"/>
	<xsd:element name = "responsibilities" type = "xsd:string"/>
	<xsd:element name = "project">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "name"/>
				<xsd:element ref = "description"/>
				<xsd:element ref = "startDate" minOccurs = "0"/>
				<xsd:element ref = "endDate" minOccurs = "0"/>
				<xsd:element ref = "client" minOccurs = "0"/>
				<xsd:element ref = "URL" minOccurs = "0"/>
				<xsd:element ref = "responsibilities" maxOccurs = "unbounded"/>
				<xsd:element ref = "technology" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "description" type = "xsd:string"/>
	<xsd:element name = "skills">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "technologyArea" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "technologyArea">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "name"/>
				<xsd:element ref = "technology" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "technology">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "name"/>
				<xsd:element ref = "description" minOccurs = "0"/>
				<xsd:element ref = "proficiency"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "proficiency" type = "xsd:string"/>
	<xsd:element name = "conclusion">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "info" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "citizenship" type = "xsd:string"/>
	<xsd:element name = "gender" type = "xsd:string"/>
	<xsd:element name = "passportno" type = "xsd:string"/>
	<xsd:element name = "certification">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "name"/>
				<xsd:element ref = "date"/>
				<xsd:element ref = "description" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "date" type = "xsd:string"/>
	<xsd:element name = "certifications">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "certification" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "publications">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "publication" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "publication">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "title"/>
				<xsd:element ref = "description" minOccurs = "0"/>
				<xsd:element ref = "URL" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "URL" type = "xsd:string"/>
	<xsd:element name = "extraInfo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "title"/>
				<xsd:element ref = "info" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "workExperience">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "experience" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "client" type = "xsd:string"/>
</xsd:schema>